<!-- TODO add attributes to the form to submit using a post request to the url "/songs" -->
<form>
    
    <!-- TODO add input field for song title -->
    
    <!-- TODO add input field for song author -->
    
    <!-- TODO add textarea field for song lyrics -->
    
</form>